<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
</head>

<body>
	<section>
   <div class="container">
	<div class="row">
	<div class="col-md-8 offset-md-2">
	<div class="my-card">
		          <!-- showing and removing message in view-->
		<div  th:classappend="${session.message.type}"  class="alert" role="alert" th:if="${session.message}">
         <p th:text ="${session.message.content}"></p>
         <th:block th:text ="${@sessionHelper.removeMassagesFromSession()}"></th:block>
         </div>
		
    <h1 class="text-center">Register Here !!</h1>
	<form novalidate  th:action="@{do_register}" method="post" th:object="${user}">
		
	    <!-- Name field-->
	    <div class="form-group">
    <label for="name_field">Your Name</label>
    <input type="text"
    name="name" 
    th:classappend ="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
    class="form-control" 
    id="name_field" 
    aria-describedby="emailHelp" 
    placeholder="Enter Name"
    required
    th:value ="${user.name}">
    <div class="invalid-feedback" th:text ="${#fields.errors('name')}"></div>
  </div>
  
  	    <!-- Email field-->
	    <div class="form-group">
    <label for="email_field">Your Email</label>
    <input type="email"
    name="email" 
    th:classappend ="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
    class="form-control" 
    id="email_field" 
    aria-describedby="emailHelp" 
    placeholder="Enter email"
    required
    th:value ="${user.email}">
   <div class="invalid-feedback" th:text ="${#fields.errors('email')}"></div>
  
  </div>
  
  	    <!-- Passward field-->
	    <div class="form-group">
    <label for="passward_field">Your Passward</label>
    <input type="password"
    name="passward" 
    class="form-control" 
    id="passward_field" 
    aria-describedby="emailHelp" 
    placeholder="Enter passward"
    required>
  </div>
  
  <!-- About field-->
  <div class="form-group">
	  <textarea rows="5" class="form-control"
	  name="about"
	   th:text ="${user.about}" 
	  placeholder="Enter Something About yourself"></textarea>
  </div>
  <!--Checkbox-->
    <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1"
    name="checkbox">
    <label class="form-check-label" for="exampleCheck1">
		Agree Terms and Conditions</label>
  </div>
  
  <div class="container text-center">
	  <button type="submit" class="btn bg-primary text-white">Submit</button>
	  <button type="reset" class="btn btn-warning">Reset</button>
  </div>
  	
	</form>

	</div>
	</div>
	</div>
	</div>
	</section>
</body>

</html>